.transaction {
   width: 100%;
   text-align: center;
     margin: 25px auto 50px auto;
    
}

tr { 
text-align: center;

}

th {
    font-size: larger;
    font-weight: bold;
    color: grey;
     background-color: lightskyblue;
    padding-bottom: 15px;
}

td { 
    color: grey;
   padding-bottom: 8px; 
}

tr:nth-child(even) {
    background-color:rgb(234, 234, 108);
}